* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
}

.header {
  height: 100px;
  display: flex;
}

.header-left img {
  width: 200px;
  height: 50px;
  margin-top: 8px;
  line-height: 10px;
}
